{% extends '::base.html.twig' %}

{% block body -%}
    {{ parent()}}
    <h1>Editar Localidad</h1>

    {{ form(edit_form) }}
    {{ form(delete_form) }}

    <div class="well bs-component">  
        <a class="btn btn-primary" href="{{ path('localidad') }}">
            Volver
        </a>
    </div>
{% endblock %}
